PORT=
MONGO_URI=your_mongodb_connection_string_here
CORS_ORIGIN=
# Access Token (Short Life)
ACCESS_TOKEN_SECRET=write your own
ACCESS_TOKEN_EXPIRY=len

# Refresh Token (Long Life)
REFRESH_TOKEN_SECRET=write your own
REFRESH_TOKEN_EXPIRY=len

# Add these to your .env file
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret